* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Fraunces";
  src: url(../Fraunces_144pt-SemiBold.ttf);
}
:root {
  --darkViolet: #24053e;
  --green: #44ffa1;
  --greyViolet: #584d62;
  --lightViolet: #fcf8ff;
  --fraunces: "Fraunces";
  --manrope: "Manrope", sans-serif;
}
body {
  width: 100%;
  font-family: var(--manrope);
}
nav {
  width: 100%;
  height: 100px;
  padding-top: 32px;
  background-color: var(--darkViolet);
}
.nav-wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-bottom: 2px solid var(--green);
}
h1,
h2,
h3,
h4 {
  font-family: var(--fraunces);
}
header {
  position: relative;
  width: 100%;
  height: 481px;
  text-align: center;
  overflow: hidden;
}
.header-background {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 481px;
  background-color: var(--darkViolet);
  border-radius: 500px/100px;
}
header img:nth-of-type(1),
header img:nth-of-type(2) {
  display: none;
}
header img:nth-of-type(3) {
  position: relative;
  top: 280px;
  left: 50%;
  transform: translateX(-52%);
  width: 90%;
  z-index: 1;
}
h1 {
  position: absolute;
  font-size: 50px;
  line-height: 55px;
  font-weight: 600;
  color: white;
  z-index: 1;
}
h1 span {
  border-bottom: 3px solid var(--green);
}
header a {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 23px;
  font-weight: 600;
  color: var(--darkViolet);
  text-decoration: none;
  letter-spacing: 0.5px;
  background-color: var(--green);
  z-index: 1;
}
main {
  position: relative;
}
.main-background {
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 1030px;
  background-color: var(--lightViolet);
  border-radius: 500px/100px;
  z-index: -1;
}

section {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 64px auto;
  text-align: center;
  color: var(--darkViolet);
}
.number {
  margin: 0 auto 24px;
  width: 46px;
  height: 46px;
  border: 1px solid var(--darkViolet);
  border-radius: 50%;
}
.number h4 {
  font-size: 20px;
  transform: translateY(40%);
}
section h3 {
  margin-bottom: 16px;
  font-size: 28px;
}
section p {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 28px;
  color: var(--greyViolet);
}
.bethefirst {
  box-sizing: border-box;
  position: relative;
  margin: 329px auto 24px;
  padding: 32px;
  width: 90%;
  background-color: var(--darkViolet);
  color: white;
  text-align: center;
}
.bethefirst > img:first-of-type {
  position: absolute;
  width: 80%;
  top: -228px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.bethefirst h2 {
  margin-bottom: 16px;
  font-size: 32px;
}
.bethefirst p {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 28px;
}
.rectangle img {
  display: none;
}
.rectangle a {
  padding: 12px 23px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  color: var(--darkViolet);
  background-color: var(--green);
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 74px auto 64px;
}
footer .social {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 28px;
}
.social a {
  font-size: 20px;
  color: var(--greyViolet);
}
